<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-button routerLink="/tabs/inicio">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>
