<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-menu-button menu="first">
    </ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button routerLink="/configuraciones">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<!--       <ion-button (click)="toggleMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
 -->
