
<app-header></app-header>
<ion-content>

   <div class="container ion-text-center">
     <ion-img  src="../../../assets/pantalla-principal-de-la-app-2.jpg">
     </ion-img>
   </div>


</ion-content>
<ion-tabs >

    <ion-tab-bar slot="bottom" color ="primary">

        <ion-tab-button [tab]="c.name" *ngFor="let c of componentes | async">
            <ion-icon  [name]="c.icon"></ion-icon>
            <ion-label>{{ c.name |titlecase}}</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
