<ion-menu side="start" menuId="first" contentId="main">

  <ion-item color= "secondary">
    <ion-avatar slot="start">
        <img [src]="dPersonales('img')">
    </ion-avatar>
    <ion-label  >{{ dPersonales('name') }}</ion-label>
  </ion-item>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <!-- <ion-item color="primary" [routerLink]="c.redirectTo" detail> -->
      <ion-menu-toggle *ngFor="let c of componentes | async">
          <ion-item color="primary" [routerLink]="c.redirectTo">
            <ion-icon  slot="start" [name]="c.icon"></ion-icon>
            <ion-label>{{ c.name }}</ion-label>                >
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>
